body {
  background: url('../img/heaven.jpg');
  background-attachment: fixed;
}
#header-logo{
  background: #336EFF;
}
#menu li:hover{
  background: #336EFF;
}
.button-more{
  background: #336EFF;
}
 footer{
   background: #336EFF;
 }
