body {
  background: url('../img/leaves.jpg');
  background-attachment: fixed;
}
#header-logo{
  background: #235E3D;
}
#menu li:hover{
  background: #235E3D;
}
.button-more{
  background: #235E3D;
}
 footer{
   background: #235E3D;
 }
