body {
  background: url('../img/red.jpg');
  background-attachment: fixed;
}
#header-logo{
  background: #FF3933;
}
#menu li:hover{
  background: #FF3933;
}
.button-more{
  background: #FF3933;
}
 footer{
   background: #FF3933;
 }
