*{
   margin: 0px;
   padding: 0px;
   list-style: none;
}
.clearfix{
  float: none;
  clear: both;
}
body {
  background: url('../img/leaves.jpg');
}
#global{
width: 65%;
margin: 0px auto;
margin-top: 30px;
background: white;
padding: 50px;
box-shadow: 0px 0px 5px gray;
}
#header-logo{
  font-family: "Verdana", "Arial";
  font-size: 30px;
  letter-spacing: 4px;
  background: #235E3D;
  color: white;
  text-align: center;
  width: 385px;
  height: 80px;
  margin-bottom: 20px;
  line-height: 80px;
  float: left;
}
#menu{
   font-family: Helvetica, Arial;
   background: #333;
   width: 100%;
   text-transform: uppercase;
   margin-bottom: 20px;
   line-height: 46px;
}
#menu li{
  height: 46px;
  display: inline-block;
  transition: all 300ms;
}
#menu li:hover{
  background: #235E3D;
}
#menu a{
  color: white;
  display: block;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}
#posts{
  width: 60%;
  float: left;
  font-family: Helvetica, Arial;
}
.post{
  padding: 7px;
}
.post h2{
  font-size: 30px;
  color: #333;
}
.post .date{
  display: block;
  color: gray;
  margin-top: 10px;
}
.post p{
  margin-top: 15px;
  margin-bottom: 20px;
  line-height: 20px;
  text-align: justify;
}
.button-more{
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 15px;
  background: #235E3D;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  width: 20%;
  margin-bottom: 20px;
}
 #sidebar{
   font-family: Helvetica, Arial;
   width: 25%;
   float: right;
 }
 #sidebar h4{
   margin-top: 50px;
   margin-bottom: 20px;
   text-align: center;
   line-height: 10px;
   color: #333;
   background: url("../img/lines.png") repeat-x;
 }
 #sidebar h4 span{
   background: white;
   padding: 5px;
 }
 #sidebar img{
   width: 100%;
 }
 #sidebar p{
   font-size: 10px;
   text-align: justify;
 }
 form input[type="text"],
 form input[type="password"],
 form input[type="email"],
 form input[type="number"],
 select{
   padding: 5px;
   border-radius: 2px;
   border:1px solid #ccc;
   width: 80%;
   margin-bottom: 10px;
   margin-top: 5px;
   box-shadow: 0px 0px 2px gray;
 }
 form input[type="submit"]{
   background: #ccc;
   padding: 10px;
   border: 1px solid #ccc;
   color: #333;
   cursor: pointer;
   display: block;
 }
 footer{
   font-family: Helvetica, Arial;
   color: white;
   height: 47px;
   background: rgba(51, 51, 51, 0.70);
   margin: 0px auto;
   width: 70%;
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 50px;
   line-height: 47px;
 }
 .bxslider, .bx-viewport{
  height: 250px !important;
 }
 #theme-selector{
   position: fixed;
   top: 40%;
   background: rgba(51, 51, 51, 0.7);
   width: 50px;
   height: 100px;
 }
 #to-green,
 #to-red,
 #to-blue{
  width: 25px;
  height: 25px;
  border: 1px solid white;
  display: block;
  margin: 0px auto;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
 }
 #to-green{
   background: #235E3D;
 }
 #to-red{
   background: #FF3933;
 }
 #to-blue{
   background: #336EFF;
 }
 .up{
   color: white;
   text-decoration: none;
   display: block;
   float: right;
 }
 #accordify{
   width: 60%;
   float: left;
   margin-top: 20px;
 }
 #box h2{
   font-family: Helvetica, Arial;
   font-size: 30px;
   color: #333;
 }
 #clock{
   font-size: 30px;
   font-weight: bold;
   font-family: Helvetica, Arial;
   color: #333;
   border: 5px dashed #333;
   width: 30%;
   padding: 30px;
   margin: 0px auto;
   float: left;
 }
#form_contact{
  width: 50%;
  margin-top: 15px;
  font-family: Helvetica, Arial;
}
#form_contact label{
  width: 100%;
  display: block;
  margin-top: 5px;
}
#box{
  width: 60%;
//float: left;
  margin-top: 40px;
}
